In [3]:
coffe_items=['Toffee Latte','Vanilla Cappuccino','Toffee Cappuccino','Coconut Milk Latte','Cafe Latte','Cappuccino','Espresso','Classic Filter Coffee','Macchiato','Cafe Americano','Cafe Mocha','Inverted Cappuccino','Aztec Coffee','Ethiopian Coffee']

In [4]:
coffe_items

['Toffee Latte',
 'Vanilla Cappuccino',
 'Toffee Cappuccino',
 'Coconut Milk Latte',
 'Cafe Latte',
 'Cappuccino',
 'Espresso',
 'Classic Filter Coffee',
 'Macchiato',
 'Cafe Americano',
 'Cafe Mocha',
 'Inverted Cappuccino',
 'Aztec Coffee',
 'Ethiopian Coffee']

In [5]:
order=[]
def input_string(quant,name,quant1 ,name1):
    x= " i want {} {}.and {} {} from CCD".format(quant,name,quant1 ,name1)
    order.append(x)
    return order

In [6]:
input_string(1,'Cafe Americano',1,'Vanilla Cappuccino')

[' i want 1 Cafe Americano.and 1 Vanilla Cappuccino from CCD']

In [21]:
from textblob import TextBlob

In [10]:
import pandas as pd
df = pd.DataFrame(order,index=None,columns=['text'])
df

                                                text
0   i want 1 Cafe Americano.and 1 Vanilla Cappucc...

In [17]:
data=pd.read_excel('ccd_combine.xlsx')

In [18]:
data.head()

                                       Order_Strings
0      i want 1 Americano  and 2 Cappuccino from CCD
1  i want 2 'Toffee Latte', and 3  'Espresso', fr...
2  i want 3  'Vanilla Cappuccino', and 1  'Classi...
3  i want 4  'Toffee Cappuccino', and 3  'Macchia...
4  i want 5  'Coconut Milk Latte', and 5  'Cafe A...

In [23]:
text=data['Order_Strings'][0]