In [3]:
coffe_items=['Toffee Latte','Vanilla Cappuccino','Toffee Cappuccino','Coconut Milk Latte','Cafe Latte','Cappuccino','Espresso','Classic Filter Coffee','Macchiato','Cafe Americano','Cafe Mocha','Inverted Cappuccino','Aztec Coffee','Ethiopian Coffee']

In [4]:
coffe_items

['Toffee Latte',
 'Vanilla Cappuccino',
 'Toffee Cappuccino',
 'Coconut Milk Latte',
 'Cafe Latte',
 'Cappuccino',
 'Espresso',
 'Classic Filter Coffee',
 'Macchiato',
 'Cafe Americano',
 'Cafe Mocha',
 'Inverted Cappuccino',
 'Aztec Coffee',
 'Ethiopian Coffee']

In [5]:
order=[]
def input_string(quant,name,quant1 ,name1):
    x= " i want {} {}.and {} {} from CCD".format(quant,name,quant1 ,name1)
    order.append(x)
    return order

In [6]:
input_string(1,'Cafe Americano',1,'Vanilla Cappuccino')

[' i want 1 Cafe Americano.and 1 Vanilla Cappuccino from CCD']

In [21]:
from textblob import TextBlob

In [10]:
import pandas as pd
df = pd.DataFrame(order,index=None,columns=['text'])
df

                                                text
0   i want 1 Cafe Americano.and 1 Vanilla Cappucc...

In [17]:
data=pd.read_excel('ccd_combine.xlsx')

In [18]:
data.head()

                                       Order_Strings
0      i want 1 Americano  and 2 Cappuccino from CCD
1  i want 2 'Toffee Latte', and 3  'Espresso', fr...
2  i want 3  'Vanilla Cappuccino', and 1  'Classi...
3  i want 4  'Toffee Cappuccino', and 3  'Macchia...
4  i want 5  'Coconut Milk Latte', and 5  'Cafe A...

In [24]:
text=data['Order_Strings'][0]

In [32]:
train = [ ('i want 1 Americano  and 2 Cappuccino from CCD','Americano,Cappuccino'),
('i want 2 Cappuccino and 3 Americano  from CCD', "Cappuccino,Americano"),
('i want 3 FilterCoffee and 1 Cappuccino from CCD', 'FilterCoffee,Cappuccino'),
('i want 4 VanillaCappuccino and 3 FilterCoffee from CCD','VanillaCappuccino,FilterCoffee'),
('i want 5 Macchiato and 5 VanillaCappuccino from CCD', 'Macchiato,VanillaCappuccino'),
('i want 6 Latte and 4 Macchiato from CCD', 'Latte,Macchiato'),
('i want 7 Cappuccino and 2 Latte from CCD', 'Cappuccino,Latte'),
('i want 8 Americano  and 1 Macchiato from CCD', 'Americano,Macchiato'),
('i want 9 Cappuccino and 3 Latte from CCD', 'Cappuccino,Latte'),
('i want 1 Americano  and 2 Cappuccino from CCD', 'Americano,Cappuccino'),
('i want 5 Americano  and 20 Cappuccino from CCD','Americano,Cappuccino'),
('i want 2 Cappuccino and 3 Americano  from CCD', "Cappuccino,Americano"),
('i want 3 FilterCoffee and 10 Cappuccino from CCD', 'FilterCoffee,Cappuccino'),
('i want 4 VanillaCappuccino and 3 FilterCoffee from CCD','VanillaCappuccino,FilterCoffee'),
('i want 5 Macchiato and 5 VanillaCappuccino from CCD', 'Macchiato,VanillaCappuccino'),
('i want 6 Latte and 4 Macchiato from CCD', 'Latte,Macchiato'),
('i want 7 Cappuccino and 2 Latte from CCD', 'Cappuccino,Latte'),
('i want 8 Americano  and 1 Macchiato from CCD', 'Americano,Macchiato'),
('i want 9 Cappuccino and 2 Latte from CCD', 'Cappuccino,Latte'),
('i want 10 Americano  and 2 Cappuccino from CCD', 'Americano,Cappuccino')    
]
test = [
      ('i want 5 Cappuccino  and 20 Latte from CCD'),
('i want 2 Cappuccino and 3 FilterCoffee  from CCD'),
('i want 3 FilterCoffee and 10 Cappuccino from CCD'),
('i want 4 Macchiato and 3 FilterCoffee from CCD'),
('i want 3 Macchiato and 5 VanillaCappuccino from CCD'),
('i want 1 Latte and 4 Macchiato from CCD'),
('i want 7 Americano and 2 Latte from CCD'),
('i want 3 VanillaCappuccino  and 1 Macchiato from CCD')
]

In [33]:
from textblob.classifiers import NaiveBayesClassifier
cl=NaiveBayesClassifier(train)

In [35]:
cl.classify(test)

'Macchiato,VanillaCappuccino'