# Reading dataframe
### Reading the dataset
### Checking the Datatypes of the columns(schema)
### Selecting columns and indexing
### Check describe option similar to pandas
### adding columns
###  dropping columns
### renaming column

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [9]:
#read the dataset
df_pyspark=spark.read.option('header','true').csv('test.csv').show()
df_pyspark=spark.read.option('header','true').csv('test.csv')

+----------+---+----------+
|      Name|Age|Experience|
+----------+---+----------+
|Shubhangi | 26|       4.4|
|   Ashwini| 28|       5.5|
|   Saritha| 26|         4|
|      Amar| 24|         3|
|     Chimu|  1|         0|
|      Namo| 25|         3|
+----------+---+----------+

In [17]:
#check the schema different types
#Type 1
print(df_pyspark.printSchema())
# to get exact data types as interger,float and string we need to at inferschema=true in .csv file
df_pyspark1=spark.read.option('header','true').csv('test.csv',inferSchema=True)
print(df_pyspark1.printSchema())

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

None
root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

None

In [18]:
# Type2 of reading dataframe
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+---+----------+
|      Name|Age|Experience|
+----------+---+----------+
|Shubhangi | 26|       4.4|
|   Ashwini| 28|       5.5|
|   Saritha| 26|       4.0|
|      Amar| 24|       3.0|
|     Chimu|  1|       0.0|
|      Namo| 25|       3.0|
+----------+---+----------+

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_pyspark.head(6)

[Row(Name='Shubhangi ', Age=26, Experience=4.4),
 Row(Name='Ashwini', Age=28, Experience=5.5),
 Row(Name='Saritha', Age=26, Experience=4.0),
 Row(Name='Amar', Age=24, Experience=3.0),
 Row(Name='Chimu', Age=1, Experience=0.0),
 Row(Name='Namo', Age=25, Experience=3.0)]

In [24]:
df_pyspark.show()

+----------+---+----------+
|      Name|Age|Experience|
+----------+---+----------+
|Shubhangi | 26|       4.4|
|   Ashwini| 28|       5.5|
|   Saritha| 26|       4.0|
|      Amar| 24|       3.0|
|     Chimu|  1|       0.0|
|      Namo| 25|       3.0|
+----------+---+----------+

In [27]:
#pick up one column
df_pyspark.select('Name').show()
type(df_pyspark.select('Name'))

+----------+
|      Name|
+----------+
|Shubhangi |
|   Ashwini|
|   Saritha|
|      Amar|
|     Chimu|
|      Namo|
+----------+

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.select(['Name','Experience']).show()

+----------+----------+
|      Name|Experience|
+----------+----------+
|Shubhangi |       4.4|
|   Ashwini|       5.5|
|   Saritha|       4.0|
|      Amar|       3.0|
|     Chimu|       0.0|
|      Namo|       3.0|
+----------+----------+

In [29]:
df_pyspark['Name']

Column<'Name'>

In [30]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'double')]

In [32]:
df_pyspark.describe().show()

+-------+----------+------------------+------------------+
|summary|      Name|               Age|        Experience|
+-------+----------+------------------+------------------+
|  count|         6|                 6|                 6|
|   mean|      null|21.666666666666668|3.3166666666666664|
| stddev|      null| 10.21110506589109|1.8766104195241662|
|    min|      Amar|                 1|               0.0|
|    max|Shubhangi |                28|               5.5|
+-------+----------+------------------+------------------+

In [38]:
#adding columns in data frame
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [39]:
df_pyspark.show()

+----------+---+----------+------------------------+
|      Name|Age|Experience|Experience after 2 years|
+----------+---+----------+------------------------+
|Shubhangi | 26|       4.4|                     6.4|
|   Ashwini| 28|       5.5|                     7.5|
|   Saritha| 26|       4.0|                     6.0|
|      Amar| 24|       3.0|                     5.0|
|     Chimu|  1|       0.0|                     2.0|
|      Namo| 25|       3.0|                     5.0|
+----------+---+----------+------------------------+

In [41]:
#drop the columns
df_pyspark.drop('Experience after 2 years').show()

+----------+---+----------+
|      Name|Age|Experience|
+----------+---+----------+
|Shubhangi | 26|       4.4|
|   Ashwini| 28|       5.5|
|   Saritha| 26|       4.0|
|      Amar| 24|       3.0|
|     Chimu|  1|       0.0|
|      Namo| 25|       3.0|
+----------+---+----------+

In [42]:
#rename the columns
df_pyspark.withColumnRenamed('Name','new name').show()

+----------+---+----------+------------------------+
|  new name|Age|Experience|Experience after 2 years|
+----------+---+----------+------------------------+
|Shubhangi | 26|       4.4|                     6.4|
|   Ashwini| 28|       5.5|                     7.5|
|   Saritha| 26|       4.0|                     6.0|
|      Amar| 24|       3.0|                     5.0|
|     Chimu|  1|       0.0|                     2.0|
|      Namo| 25|       3.0|                     5.0|
+----------+---+----------+------------------------+