In [2]:
# !pip install pyspark

Requirement already satisfied: pyspark in c:\shubhangi\lib\site-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in c:\shubhangi\lib\site-packages (from pyspark) (0.10.9)

In [4]:
import pyspark

In [5]:
import pandas as pd

In [6]:
data=pd.read_excel('test.xlsx')
data

         Name  Age
0  Shubhangi    26
1     Ashwini   28
2     Saritha   26
3        Amar   24
4       Chimu    1
5        Namo   25

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [9]:
spark

In [10]:
df_pyspark=spark.read.csv('test.csv')

In [11]:
df_pyspark.show()

+----------+---+
|       _c0|_c1|
+----------+---+
|      Name|Age|
|Shubhangi | 26|
|   Ashwini| 28|
|   Saritha| 26|
|      Amar| 24|
|     Chimu|  1|
|      Namo| 25|
+----------+---+

In [15]:
spark.read.option('header','true').csv('test.csv').show()

+----------+---+
|      Name|Age|
+----------+---+
|Shubhangi | 26|
|   Ashwini| 28|
|   Saritha| 26|
|      Amar| 24|
|     Chimu|  1|
|      Namo| 25|
+----------+---+

In [16]:
df_pyspark=spark.read.option('header','true').csv('test.csv')

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.head(4)

[Row(Name='Shubhangi ', Age='26'),
 Row(Name='Ashwini', Age='28'),
 Row(Name='Saritha', Age='26'),
 Row(Name='Amar', Age='24')]

In [23]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)