In [8]:
import numpy as np
import pandas as pd
import string
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer #TFid Vectorization

In [9]:
sw=stopwords.words('english')

In [10]:
pos_rev=pd.read_csv('pos.txt',sep='\n',header=None ,encoding='latin-1')
pos_rev['mood']=1
pos_rev=pos_rev.rename(columns={0:'review'})
pos_rev

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [29]:
neg_rev=pd.read_csv('negative.txt',sep='\n',header=None ,encoding='latin-1')
neg_rev['mood']=0
neg_rev=neg_rev.rename(columns={0:'review'})
neg_rev

                                                 review  mood
0                      simplistic , silly and tedious.      0
1     it's so laddish and juvenile , only teenage bo...     0
2     exploitative and largely devoid of the depth o...     0
3     [garbus] discards the potential for pathologic...     0
4     a visually flashy but narratively opaque and e...     0
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[5331 rows x 2 columns]

In [30]:
pos_rev.loc[: , 'review'] = pos_rev.loc[: , 'review'].apply(lambda x : x.lower())
pos_rev.loc[: , 'review'] = pos_rev.loc[: , 'review'].apply(lambda x : re.sub(r"@\S+" , "" , x))
pos_rev.loc[: , 'review'] = pos_rev.loc[: , 'review'].apply\
(lambda x : x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
pos_rev.loc[: , 'review'] = pos_rev.loc[: , 'review'].apply\
(lambda x : " ".join([word for word in x.split() if word not in (sw)]))

In [31]:
neg_rev.loc[: , 'review'] = neg_rev.loc[: , 'review'].apply(lambda x : x.lower())
neg_rev.loc[: , 'review'] = neg_rev.loc[: , 'review'].apply(lambda x : re.sub(r"@\S+" , "" , x))
neg_rev.loc[: , 'review'] = neg_rev.loc[: , 'review'].apply\
(lambda x : x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
neg_rev.loc[: , 'review'] = neg_rev.loc[: , 'review'].apply\
(lambda x : " ".join([word for word in x.split() if word not in (sw)]))

In [32]:
com_rev=pd.concat([pos_rev ,neg_rev],axis=0).reset_index()
com_rev

       index                                             review  mood
0          0  rock destined 21st centurys new conan hes goin...     1
1          1  gorgeously elaborate continuation lord rings t...     1
2          2                          effective tootepid biopic     1
3          3  sometimes like go movies fun wasabi good place...     1
4          4  emerges something rare issue movie thats hones...     1
...      ...                                                ...   ...
10657   5326     terrible movie people nevertheless find moving     0
10658   5327  many definitions time waster movie must surely...     0
10659   5328  stands crocodile hunter hurried badly cobbled ...     0
10660   5329          thing looks like madeforhomevideo quickie     0
10661   5330                         enigma wellmade dry placid     0

[10662 rows x 3 columns]

In [33]:
#train_test_split

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(com_rev['review'].values,com_rev['mood'].values,test_size=0.2,random_state=101)

In [35]:
train_data=pd.DataFrame({'review':x_train, 'mood':y_train})
test_data=pd.DataFrame({'review':x_test, 'mood':y_test})

In [36]:
train_data

                                                 review  mood
0     puts washington honest working man john q arch...     0
1     poignant familiar story young person suspended...     1
2     timely director could ever dreamed quietly lyr...     1
3               film virtually chokes selfconsciousness     0
4     film takes inside rhythms subject experience w...     1
...                                                 ...   ...
8524  branagh forceful nonshakespeare screen perform...     1
8525  movie friday fans critics damned already like ...     0
8526  perhaps heaviest joyless movie ever made giant...     0
8527  film rival live fine little amusebouche keep a...     1
8528  director andrew niccol demonstrates wry unders...     1

[8529 rows x 2 columns]

In [37]:
test_data

                                                 review  mood
0     important movie reminder power film move us ma...     1
1     ive never seen heard anything quite like film ...     1
2     ending leave unfulfilled performances enjoy me...     1
3     surface loversontherun crime flick lot common ...     1
4     walk remember shrewd enough activate girlish t...     0
...                                                 ...   ...
2128        bullock good job working natural likability     1
2129                results memorable least interesting     1
2130  apparently designed reverie memory regret thin...     0
2131  movie insecure capacity excite churns one two ...     0
2132  thrilling provocative darkly funny timely scif...     1

[2133 rows x 2 columns]

In [38]:
vectorizer=TfidfVectorizer()
train_vectors=vectorizer.fit_transform(train_data['review'])
test_vectors = vectorizer.transform(test_data['review'])

In [39]:
from sklearn import svm
from sklearn.metrics import classification_report

In [40]:
classifier=svm.SVC(kernel='linear')
classifier.fit(train_vectors , train_data['mood'])

SVC(kernel='linear')

In [43]:
pred=classifier.predict(test_vectors)

In [48]:
report=classification_report(test_data['mood'],pred,output_dict=True)
print(f"positive {report['1']['recall']}")
print(f"negative {report['0']['recall']}")

positive 0.7398148148148148
negative 0.7587844254510921

In [50]:
a=input('write the review: ')
vector=vectorizer.transform([a]).toarray()
xyz=classifier.predict(vector)
print(xyz)

write the review: it was awesome
[1]